@charset "utf-8";
*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body{
    background-color: #FAFAFA;
}
.wrap{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.content{
    width: 70vw;
    height: 80vh;
    padding-top: 3vh;
    position: relative;
}
.topBox{
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 10vw;
}
.gun{
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gaesu{
    display: flex;
    align-items: center;
}
.gaesu h1{
    font-size: 3em;
    color: #007200;
}
.mainBox{
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    align-items: center;
}
.lead{
    width: 67vw;
    height: 8vh;
    display: flex;
    border-bottom: 1px solid #70707029;
    align-items: center;
    justify-content: space-evenly;
}

.lead :nth-child(1){
    margin-left: 2vw;
}
.lead :nth-child(3){
    margin-left: 3vw;
}

.list{
    width: 67vw;
    height: 8vh;
    display: flex;
    border-bottom: 1px solid #70707029;
    align-items: center;
    justify-content: space-around;

    margin-right: 3vw;
}
.list :nth-child(3){
    margin-right: 2vw;
}
.page_selector{
    position: absolute;
    width: 40vw;
    height: 5vh;
    flex-direction: column;
    align-items: center; 
    margin-top: 3vh;
    left: 15vw;
    padding-top: 1vh;
}
.page_text{
    display: flex;
    margin-left: 8vw;
    flex-direction: row;
    align-items: center; 
    text-align: center;
}
.page_selector button{
    width: 3vw;
    height: 3vw;
    padding-top: 0.3vw;
    margin-right: 2vw;
    background-color: white;
    font-size: 21px;
    text-align: center;
    color: #007200;
    font-weight: bold;
    border-radius: 50%;
    border: none;

    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 150px;
}