@charset "utf-8";
*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body{
    background-color: #FAFAFA;
}
.wrap{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.content{
    width: 70vw;
    height: 80vh;
    padding-top: 3vh;
}
.member_search{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;  
    border-radius: 5px
}
.search_input{
    width: 250px;
    height: 30px;
    border: none;
}
.search_img{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
}
.search_img img{
    width: 32px;
    height: 32px;
}
.drop{
    width: 70vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown{
    width: 150px;
    height: 40px;
}

.dropbtn{
    width: 150px;
    height: 20px;
    background: none;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.dropdown-content{
    display : none;
    z-index : 1;
    background-color: white;
    width: 100px;
    text-align: left;
}
.dropdown-content p{
    display : block;
}
.dropdown-content p:hover{
    background-color: #007200;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.down_icon img{
    width: 26px;
    height: 26px;
}
.member_add{
    width: 28px;
    height: 28px;
    border: 2px solid #707070;
    background: none;
    align-items: center;
}
.member_add img{
    width: 19px;
    height: 19px;
    padding-top: 3px;
}
.mainBox{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    align-items: center;
}
.lead{
    width: 67vw;
    height: 8vh;
    display: flex;
    border-bottom: 1px solid #70707029;
    align-items: center;
    justify-content: space-evenly;
}
.line{
    width: 67vw;
    height: 8vh;
    display: flex;
    border-bottom: 1px solid #70707029;
    align-items: center;
    justify-content: space-around;
}