.wwrap{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up{
    width: 35vw;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-top: 5vh;
}
.member_pic img{
    width: 110px;
    height: 110px;
    border: 2px solid #007200;
    border-radius: 59px;
}
.logogo img{
    width: 250px;
    height: 100px;
}
.member_input{
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.inputs{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inputs span{
    display: flex;
    align-items: center;
    text-align: center;
    color: gray;
}
.inputs span input{
    display: flex;
    align-items: center;
    text-align: center;
    width: 20px;
    margin-left: 10px;
    margin-right: 20px;
    
}
.member_input input{
    
    width: 250px;
    height: 50px;
    border: none;
    background: #0000000D 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding-left: 10px;
}

.member_btn{
    display: flex;
    align-self: flex-end;
}
.member_btn button{
    width: 116px;
    height: 50px;
    background: none;
}
.member_btn button:first-child{
    border: 2px solid #007200;
    margin-right: 20px;
    border-radius: 5px;
}
.member_btn button:nth-child(2){
    border-radius: 5px;
    border: 2px solid #060A0E;
}